@model TranThiMinhHoai_2122110262.Models.Product

 

@{
    ViewBag.Title = "Chỉnh sửa sản phẩm";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item active">Product Page</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-12 text-right">
                    @Html.ActionLink("Quay lại danh sách sản phẩm", "Index", null, new { @class = "btn btn-sm btn-info" })
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    @using (Html.BeginForm("Update", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <!-- Hidden field to bind the product ID -->
                        @Html.HiddenFor(model => model.id)

                        <h1 class="text-center">Chỉnh sửa sản phẩm</h1>

                        <div class="form-group col-md-12 mb-3">
                            <label for="name">Tên sản phẩm</label>
                            <input name="name" id="name" class="form-control @(ViewData.ModelState["name"]?.Errors.Count > 0 ? "is-invalid" : "")" placeholder="Tên sản phẩm" type="text" value="@Model.name">
                            <span class="text-danger">@Html.ValidationMessage("name")</span>
                        </div>

                        <div class="form-group col-md-12 mb-3">
                            <label for="category_id">Danh mục</label>
                            <select name="category_id" id="category_id" class="form-control @(ViewData.ModelState["category_id"]?.Errors.Count > 0 ? "is-invalid" : "")">
                                @foreach (var item in ViewBag.categoryList as SelectList)
                                {
                                    <option value="@item.Value" @(item.Value == @Model.category_id.ToString() ? "selected" : "")>@item.Text</option>
                                }
                            </select>
                            <span class="text-danger">@Html.ValidationMessage("category_id")</span>
                        </div>

                        <div class="form-group col-md-12 mb-3">
                            <label for="brand_id">Thương hiệu</label>
                            <select name="brand_id" id="brand_id" class="form-control @(ViewData.ModelState["brand_id"]?.Errors.Count > 0 ? "is-invalid" : "")">
                                @foreach (var item in ViewBag.brandList as SelectList)
                                {
                                    <option value="@item.Value" @(item.Value == @Model.brand_id.ToString() ? "selected" : "")>@item.Text</option>
                                }
                            </select>
                            <span class="text-danger">@Html.ValidationMessage("brand_id")</span>
                        </div>

                        <div class="form-group col-md-12 mb-3">
                            <label for="detail">Chi tiết</label>
                            <textarea name="detail" id="detail" class="form-control @(ViewData.ModelState["detail"]?.Errors.Count > 0 ? "is-invalid" : "")" placeholder="Chi tiết" rows="2">@Model.detail</textarea>
                            <span class="text-danger">@Html.ValidationMessage("detail")</span>
                        </div>

                        <div class="form-group col-md-12 mb-3">
                            <label for="description">Mô tả</label>
                            <textarea name="description" id="description" class="form-control @(ViewData.ModelState["description"]?.Errors.Count > 0 ? "is-invalid" : "")" placeholder="Mô tả" rows="5">@Model.description</textarea>
                            <span class="text-danger">@Html.ValidationMessage("description")</span>
                        </div>

                        <div class="form-group col-md-12 mb-3">
                            <label for="price">Giá</label>
                            <input name="price" id="price" class="form-control @(ViewData.ModelState["price"]?.Errors.Count > 0 ? "is-invalid" : "")" placeholder="Giá" type="number" value="@Model.price">
                            <span class="text-danger">@Html.ValidationMessage("price")</span>
                        </div>

                        <div class="form-group col-md-12 mb-3">
                            <label for="pricesale">Giá giảm</label>
                            <input name="pricesale" id="pricesale" class="form-control @(ViewData.ModelState["pricesale"]?.Errors.Count > 0 ? "is-invalid" : "")" placeholder="Giá giảm" type="number" value="@Model.pricesale">
                            <span class="text-danger">@Html.ValidationMessage("pricesale")</span>
                        </div>

                        <div class="form-group col-md-12 mb-3">
                            <label for="qty">Số lượng</label>
                            <input name="qty" id="qty" class="form-control @(ViewData.ModelState["qty"]?.Errors.Count > 0 ? "is-invalid" : "")" placeholder="Số lượng" type="number" value="@Model.qty">
                            <span class="text-danger">@Html.ValidationMessage("qty")</span>
                        </div>

                        <div class="form-group col-md-12 mb-3">
                            <label for="ImageUpload">Hình ảnh</label>
                            @if (Model.image != null)
                            {
                                <div class="mb-2">
                                    <img src="@Url.Content("~/Content/images/product/" + Model.image)" alt="@Model.image" style="max-width: 100px; max-height: 100px;" />
                                </div>
                            }
                            <input type="file" name="ImageUpload" id="ImageUpload" onchange="validateFileSize()" class="form-control @(ViewData.ModelState["image"]?.Errors.Count > 0 ? "is-invalid" : "")">
                            <span class="text-danger">@Html.ValidationMessage("ImageUpload")</span>
                            <script>
                                function validateFileSize() {
                                    var file = document.getElementById('ImageUpload').files[0];
                                    if (file.size > 10485760) { // 10 MB in bytes
                                        alert('File qua lớn, vui lòng tải tệp nhỏ hơn 10 MB.');
                                        document.getElementById('ImageUpload').value = ''; // Clear the input
                                    }
                                }
                            </script>
                        </div>

                        <div class="form-group col-md-12 mb-3">
                            <label for="status">Trạng thái</label>
                            <select name="status" id="status" class="form-control @(ViewData.ModelState["status"]?.Errors.Count > 0 ? "is-invalid" : "")">
                                <option value="2" @(Model.status == 2 ? "selected" : "")>Chưa xuất bản</option>
                                <option value="1" @(Model.status == 1 ? "selected" : "")>Xuất bản</option>
                            </select>
                            <span class="text-danger">@Html.ValidationMessage("status")</span>
                        </div>

                        <div class="col-md-12 mb-3">
                            <button class="btn btn-primary w-100" type="submit">Cập nhật sản phẩm</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
